{% extends 'shop/base.html' %}

{% load static %}

{% block title %}Cart - {{ cart.id }}{% endblock %}

{% block body %}
    <h1>Products in my Cart</h1>

    <ul>
        {% for product in cart.products.all %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>

    <div>
        <h2>Total: {{ total }}</h2>
    </div>

    <button id="checkout-button">Checkout</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'shop/main.js' %}"></script>
{% endblock %}
